  <% @posts.each do |f| %>
 	<h2><%= f.title %></h2>
  <%= image_tag f.img, :class => "main_image" %><p>
  <%= f.body %></p>
  <p style="float: right"><%= link_to "# COMMENTS", root_path %> | <%= link_to "Full Post" %></p>
  <br><br><br>
  <% end %>
