<div class="left">
	<h1>NEWS</h1><br>
	<%= render "posts" %>
	<br><br>

	<%= link_to ("<button>  See All Posts  </button>").html_safe, post_index_path %>
</div>

<div class="right">
	<h1>EVENTS / CLASSES</h1><br>
	<p>
	  <% @events.each do |f| %>
	  <li><strong><%= f.title %></strong> - <%= f.date.strftime("%b %d") %></li>
	  <% end %>
	  <br><br>

	  <%= link_to ("<button>  See All Events  </button>").html_safe, event_index_path %>
	</p>
</div>