<div class="left">
	<h1>NEWS</h1><br>
	<%= render "posts" %>
	<br><br>

	<%= link_to "See All Posts", post_index_path %>
</div>

<div class="right">
	<h1>EVENTS / CLASSES</h1><br>
	<p>
	  <% @events.each do |f| %>
	  <li><strong><%= f.title %></strong> - <%= f.date %></li>
	  <% end %>
	  <br><br>

	  <%= link_to "See All Events", event_index_path %>
	</p>
</div>