<div class="left">
	<h1>NEWS</h1>
	<%= render "posts" %>
	<br><br>

	<%= link_to "See All Posts", root_path %>
</div>

<div class="right">
	<h1>EVENTS / CLASSES</h1>
	<p>
	  <% @users.each do |f| %>
	  <li><%= f.name %> - <%= f.email %></li>
	  <% end %>
	  <br><br>

	  <%= link_to "See All Events", root_path %>
	</p>
</div>