<div id="event" class="main_narrow">
	<h1>EDIT EVENT</h1>
	
	<%= form_for @event, url: edit_event_path do |f| %>
	Title: <%= f.text_field :title %><br>  
	Location: <%= f.text_field :location %><br>
	Date: <%= f.date_field :date %><br>  
	Time: <%= f.time_field :time %><br>
	Body: <%= f.text_area :body, size: "80x15" %><br>
	Fee: <%= f.text_field :fee %><br>
	Class: <%= f.text_field :class %> <br><br>

	<%= f.submit "UPDATE EVENT", :class => 'button' %><br>
	<% end %>

<%= link_to ("<button>DELETE EVENT</button>").html_safe, detail_path, method: :delete, data: { confirm: "You can not undo this action! Are you sure you want to delete???" } %>
</div>