<h1>Upcoming Events and Classes</h1>

	  <% @events.each do |f| %>
	  
	  <div class="event-what">
	  	  <span class="rotate"><h2>WHAT</h2></span>
		  <strong><%= f.title %></strong><br>
		  <%= f.body %>
	  </div>

	  <div class="event-when">
	  	<span class="rotate"><h2>WHEN</h2></span>
	  	<center>
	  	<%= f.date.strftime("%A") %><br>
	  	<strong><%= f.date.strftime("%b %d") %></strong> <br>
	  	<strong><%= f.time.strftime("%-I""%p") %></strong> at <strong><%= f.location %></strong>
	  </center>
	  </div>


	  <div class="event-rsvp">
		  <% @event_id = f.id %> ( <%= Rsvp.where(:event_id => @event_id).count %> RSVPS )
	  	

	  	<%= form_for @rsvp, url: 'rsvps' do |f| %>   
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :event_id, :value => @event_id %>
		<%= f.submit "RSVP", :class => 'button' %>  
		<% end %>
	  </div>

	<% end %>


