<h1>EVENTS / CLASSES</h1>

<% @events.each do |f| %>
<div class="container">	  
	  <div class="event-what">
		 <div class="when rotate"><h2>WHAT</h2></div>
		  <strong><%= f.title %></strong><br>
		  <%= f.body %>
	  </div>

	  <div class="event-when">
	  	<div class="when rotate"><h2>WHEN</h2></div>
			<%= f.date.strftime("%A") %><br>
			<strong><%= f.date.strftime("%b %d") %></strong> - <strong><%= f.time.strftime("%-I""%p") %></strong>
	  </div>

	  <div class="event-where">
	  	<div class="where rotate"><h2>WHERE</h2></div>
			<strong><%= f.location %></strong>
	  </div>
	  
			<% @event_id = f.id %><% @rsvps = Rsvp.where(:event_id => @event_id).count %>
	   <div class="event-who">
		  <div class="who rotate"><h2>RSVPS</h2></div>
		  	<strong>(<%= @rsvps %>)</strong><br>
	   </div>
</div>

<div class="container">		<br><br>
	<center>
			<% if current_user %>
			<%= render "rsvp" %>
			<% else %>
			<%= render "signup" %>
			<% end %>
		</center>
</div>
<hr>
<% end %>


