<div id="post" class="main_narrow">
	
	<%= link_to ("<button>Add New Post</button>").html_safe, '/admin/new_post' %>

</div>
  <% @posts.each do |f| %>
       <li><strong><%= truncate(f.title, :length => 20, :separator => ' ') %></strong> <%= link_to "(edit)", edit_post_path(f) %> | 
        <%= truncate(f.body, :length => 50, :separator => " ") %> | 
        (<%= f.created_at %> by <%= f.user.name %>)</li>

        <% end %>
</div>