<h1><%= @post.title %></h1>

<div class="narrow">
	<p><%= image_tag(@post.img, class: 'main_image') %><%= @post.body %></p><br><br>


	<%= render 'comments' %> 

	<%= form_for @comment do |f| %>
	<%= f.text_area :body, size: "100x15" %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :post_id, :value => @post.id %><br><br>
	<%= f.submit "Add Comment", :class => "button" %>
	<% end %>

</div>

