<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header 
	<div id='login'>
	<%= link_to "Login", "/login" %> | <%= link_to "Register", "/register" %>
	</div>

	<img src="http://logofaves.com/wp-content/uploads/2010/11/www_m.jpg" />

	<div id="nav">
	<%= link_to "Home", root_path %> | <%= link_to "About", "/about" %> | <%= link_to "Contact", "/contact" %>
	</div>
</header>
<%= yield %>

</body>
</html>
