<!DOCTYPE html>
<html>
<head>
  <title>Project 2</title>
<!--   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= stylesheet_link_tag('style') %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header> 
	<div id='login'>
		<% if current_user and current_user.admin %> Signed in as <%= current_user.email %> | <%= link_to "Admin Panel", admin_path %> | <%= link_to "Logout", '/logout' %>
		<% elsif current_user %>Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
		<% else %>
		  <%= link_to 'Login', '/login' %> | <%= link_to 'Register', '/register' %>
		<% end %>
	</div>

	<div class="header_image"><%= image_tag('logo.jpg', class: "logo") %>
	</div>

	<div id="nav"><%= link_to "Home", root_path %> | <%= link_to "About", "/about" %> | <%= link_to "Contact", "/contact" %> | <%= link_to "Events", '/events' %>
	</div>
</header>

<main>

<%= yield %>

</main>

<footer>
	This is where all the links for the website will show under their varing columns. 
</footer>


</body>
</html>
